<h1>Listing tasks <%= @project.to_s %> project</h1>

<p>
  <%= link_to 'New Task', new_project_task_path %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Programmer</th>
      <th>Kind</th>
      <th>Priority</th>
      <th>Notes</th>
      <th>Budget</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.programmer %></td>
        <td><%= task.kind %></td>
        <td><%= task.priority %></td>
        <td><%= !task.notes.empty? ? "#{task.notes[0..30].rstrip}..." : '' %></td>
        <td><%= task.budget %></td>
        <td><%= task.start_date %></td>
        <td><%= task.due_date %></td>
        <td><%= task.status %></td>
        <td><%= button_to 'Show', project_task_path(@project, task),
          method: :get, class: "btn-success" %></td>
        <td><%= button_to 'Edit', edit_project_task_path(@project, task),
          method: :get, class: "btn-warning" %></td>
        <td><%= button_to 'Destroy', [@project, task], method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'Back to Projects', projects_path %>
</p>
