<h1>Listing tasks <%= @project.to_s %> project</h1>

<p>
  <%= link_to 'New Task', new_project_task_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Programmer</th>
      <th>Kind</th>
      <th>Priority</th>
      <th>Notes</th>
      <th>Budget</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.programmer %></td>
        <td><%= task.kind %></td>
        <td><%= task.priority %></td>
        <td><%= task.notes %></td>
        <td><%= task.budget %></td>
        <td><%= task.start_date %></td>
        <td><%= task.due_date %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', project_task_path(@project, task) %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project, task) %></td>
        <td><%= link_to 'Destroy', [@project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Back to Projects', projects_path %>
</p>
