<h1>Listing tasks</h1>

<p>
  <%= link_to 'Projects', projects_path %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Project</th>
      <th>Name</th>
      <th>Programmer</th>
      <th>Kind</th>
      <th>Priority</th>
      <th>Notes</th>
      <th>Budget</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.created_at %></td>
        <td><%= task.project_name %></td>
        <td><%= task.name %></td>
        <td><%= task.programmer %></td>
        <td><%= task.kind %></td>
        <td><%= task.priority %></td>
        <td><%= !task.notes.empty? ? "#{task.notes[0..30].rstrip}..." : '' %></td>
        <td><%= task.budget %></td>
        <td><%= task.start_date %></td>
        <td><%= task.due_date %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
