<h1>Listing projects</h1>

<p>
  <%= link_to 'New Project', new_project_path %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= button_to 'Show', project, method: :get,
          class: "btn-success" %></td>
        <td><%= button_to 'Edit', edit_project_path(project),
          method: :get, class: "btn-warning" %></td>
        <td><%= button_to 'Destroy', project, method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn-danger" %></td>
        <td><%= button_to 'Tasks', project_tasks_path(project), method: :get,
          class: "btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'Back to Home', root_path %>
</p>
